client/__pycache__/*
server/__pycache__/*
client/log_dir/*
data/*
server/*
client/src/__pycache__/*
server/src/__pycache__/*
*.log
peers.txt
.gitignore
docker-compose.yaml
servers.txt
client/config.json
server/config.json
*.pt
*.zip
*.csv
*.txt
client/keys/s_context
client/keys/s_public_key
client/keys/s_relin_key
client/keys/s_rotate_key
client/keys/s_secret_key
test/*
client/core
