client/__pycache__/*
server/__pycache__/*
client/log_dir/*
data/*
server/*
client/src/__pycache__/*
server/src/__pycache__/*
*.log
peers.txt
.gitignore
docker-compose.yaml
servers.txt
client/config.json
server/config.json
